@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

/* Navigation */
.navigation{
    position: fixed;
    width: 1440px;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #F4F4F4;
    box-shadow: 0 2px 2px -2px gray;
    margin-left: 30px;
}

.navigation .logo{
    position: absolute;
    left: 0%;
    right: 90.97%;
    top: 0%;
    bottom: 0%;
    border-right: 1px solid #F4F4F4;
    display: flex;   justify-content: center;
}

.navigation .logo svg{
    margin: auto;
}

.navigation .menu{
    position: absolute;
    left: 9%;
    right: 58.82%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-right: 1px solid #F4F4F4;
}

.menu ul{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style-type:none;
  margin: auto;
}

.menu ul div{
    margin-right: 40px;
    margin-top: -0px;

    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
  }

.menu ul div a{
    text-decoration: none;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;

    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #181818;
    font-weight: 600;
}

/* Search section */
.navigation .search{
    position: absolute;
    left: 42.57%;
    right: 31.94%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    border-right: 1px solid #F4F4F4;
    margin-top: -2px;
}

.navigation svg{

    margin-left: 10px;
} 

.navigation input{
    border: none;
    margin-left: 20px;
    width: 250px;
} 
.navigation input:focus{
    outline: none;
}
.navigation input::placeholder{

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 15px;

    color: #CECECE;
}

/* Profil Section */ 
.navigation .profil{
    position: absolute;
    left: 68.06%;
    right: 9.03%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    border-right: 1px solid #F4F4F4;
    height: 60px;
    margin-top: 7px;
}

.navigation .name h1{

    margin-left: 15px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color: #181818;
}

.navigation .name h1 span{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    margin-left: 5px;
    color: rgba(24, 24, 24, 0.2);
}

.navigation .name p{
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    margin-top: 1px;
    color: #747474;
}

.navigation .name p span {
   
font-size: 12px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 11px;
margin-left: 5px;

color: #02B033;
flex: row;
flex-direction: row;
justify-content: center;
}

.navigation .name p span svg{
   

    margin-left: 1px;
    
    }

/* Other section */ 
.navigation .other{
    position: absolute;
    left: 90.97%;
    right: 2.78%;
    top: 0%;
    bottom: 0%;
    height: 60px;
    width: 90px;
    border-right: 1px solid #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #181818;
    cursor: pointer;
}


.other svg{
    margin: auto;
    cursor: pointer;
}

/* Footer Section */
.footer-section{
    position: relative;
    width: 100%;
    height: 215px;
    margin: 0;
    margin-top: 100px;
    overflow: hidden;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F7F9FB;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-footer {
    position: absolute;
    left: 9.03%;
    right: 86.74%;
    top: 10.95%;
    bottom: 49.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-footer p{
    position: absolute;
    left: 9.03%;
    right: 86.74%;
    top: 40.93%;
    bottom: 49.3%;
    width: 60px;
    margin-top: 15px;
    margin-left: 5px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    /* identical to box height, or 21px */


    color: #181818;
}

.logo-footer p span{

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    /* identical to box height, or 21px */


    color: #0A66C2;
}

.navigation-footer{
    position: absolute;
    left: 18.06%;
    right: 48.26%;
    top: 0%;
    bottom: 24.65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
}

.navigation-footer  h4{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 11px;
    font-weight: bold;

    color: #181818;
    margin-top: 22px;
}

.navigation-footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 130px;
}

.navigation-footer ul{
    
    list-style: none;

    margin-top: 0px;
    margin-right: 0px;
    margin-left: -89px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: left;
}

.navigation-footer .ul3{
    
    list-style: none;

    margin-top: -29px;
    margin-right: 0px;
    margin-left: -89px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
}

.navigation-footer .ul3 li{
    
    margin-bottom: 10px;
}

.navigation-footer div ul li {
    margin-bottom: 10px;
}

.navigation-footer div ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
    cursor: pointer;
    color: #181818;
}

.access{
    position: absolute;
    left: 56.25%;
    right: 31.94%;
    top: 2.0%;
    bottom: 33.49%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 12px;
}

.access  h4{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 11px;
    font-weight: bold;

    color: #181818;
    margin-top: 30px;
}

.access div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.access .btn-questions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #0275B1;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color: #FFFFFF;
    height: 32px;
    width: 170px;
    left: 810px;
    top: 69px;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;

}

.access .btn-settings{
    background: #F7F9FB;
    color: #0275B1;
    height: 32px;
    width: 170px;
    left: 810px;
    top: 69px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.languages{

    border-radius: 4px;
    position: absolute;
    left: 72.22%;
    right: 9.03%;

    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

}

.languages h4{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 11px;
    font-weight: bold;

    color: #181818;
    margin-top:6px;

}

.languages .box {

  }
  
  .box select {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    height: 40px;
    width: 270px;
    left: 1040px;
    top: 69px;
    border-radius: 4px;

    border: none;
    font-family: 'Open Sans', sans-serif;

    font-size: 12px;
    line-height: 0px;
    text-transform: uppercase;

    color: #181818;
    }

    .box select:focus {
        
        outline: none;
        }






