@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
      
}

/* Navigation */
.navigation{
    position: fixed;
    width: 1440px;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #F4F4F4;
    box-shadow: 0 2px 2px -2px gray;
    margin-left: 30px;
    z-index: 1;
    opacity: 1000;
    background-color: #ffffff;
}

.navigation .logo{
    position: absolute;
    left: 0%;
    right: 90.97%;
    top: 0%;
    bottom: 0%;
    border-right: 1px solid #F4F4F4;
    display: flex;   justify-content: center;
}

.navigation .logo svg{
    margin: auto;
}

.navigation .menu{
    position: absolute;
    left: 9%;
    right: 58.82%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-right: 1px solid #F4F4F4;
}

.menu ul{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style-type:none;
  margin: auto;
}

.menu ul div{
    margin-right: 40px;
    margin-top: -0px;

    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
  }

.menu ul div a{
    text-decoration: none;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;

    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #181818;
    font-weight: 600;
}

/* Search section */
.navigation .search{
    position: absolute;
    left: 42.57%;
    right: 31.94%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    border-right: 1px solid #F4F4F4;
    margin-top: -2px;
}

.navigation svg{

    margin-left: 10px;
} 

.navigation input{
    border: none;
    margin-left: 20px;
    width: 250px;
} 
.navigation input:focus{
    outline: none;
}
.navigation input::placeholder{

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 15px;

    color: #CECECE;
}

/* Profil Section */ 
.navigation .profil{
    position: absolute;
    left: 68.06%;
    right: 9.03%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    border-right: 1px solid #F4F4F4;
    height: 60px;
    margin-top: 7px;
}

.navigation .name h1{

    margin-left: 15px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color: #181818;
}

.navigation .name h1 span{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    margin-left: 5px;
    color: rgba(24, 24, 24, 0.2);
}

.navigation .name p{
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    margin-top: 1px;
    color: #747474;
}

.navigation .name p span {
   
font-size: 12px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 11px;
margin-left: 5px;

color: #02B033;
flex: row;
flex-direction: row;
justify-content: center;
}

.navigation .name p span svg{
   

    margin-left: 1px;
    
    }

/* Other section */ 
.navigation .other{
    position: absolute;
    left: 90.97%;
    right: 2.78%;
    top: 0%;
    bottom: 0%;
    height: 60px;
    width: 90px;
    border-right: 1px solid #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #181818;
    cursor: pointer;
}


.other svg{
    margin: auto;
    cursor: pointer;
}

/* Footer Section */
.footer-section{
    position: fixed;
    width: 100%;
    height: 215px;
    overflow: hidden;
    bottom: 0; 
    background: #F7F9FB;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo-footer {
    position: absolute;
    left: 9.03%;
    right: 86.74%;
    top: 10.95%;
    bottom: 49.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-footer p{
    position: absolute;
    left: 9.03%;
    right: 86.74%;
    top: 40.93%;
    bottom: 49.3%;
    width: 60px;
    margin-top: 15px;
    margin-left: 5px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    /* identical to box height, or 21px */


    color: #181818;
}

.logo-footer p span{

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    /* identical to box height, or 21px */


    color: #0A66C2;
}

.navigation-footer{
    position: absolute;
    left: 18.06%;
    right: 48.26%;
    top: 0%;
    bottom: 24.65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
}

.navigation-footer  h4{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 11px;
    font-weight: bold;

    color: #181818;
    margin-top: 22px;
}

.navigation-footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 130px;
}

.navigation-footer ul{
    
    list-style: none;

    margin-top: 0px;
    margin-right: 0px;
    margin-left: -89px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: left;
}

.navigation-footer .ul3{
    
    list-style: none;

    margin-top: -29px;
    margin-right: 0px;
    margin-left: -89px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
}

.navigation-footer .ul3 li{
    
    margin-bottom: 10px;
}

.navigation-footer div ul li {
    margin-bottom: 10px;
}

.navigation-footer div ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
    cursor: pointer;
    color: #181818;
}

.access{
    position: absolute;
    left: 56.25%;
    right: 31.94%;
    top: 2.0%;
    bottom: 33.49%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 12px;
}

.access  h4{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 11px;
    font-weight: bold;

    color: #181818;
    margin-top: 30px;
}

.access div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.access .btn-questions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #0275B1;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color: #FFFFFF;
    height: 32px;
    width: 170px;
    left: 810px;
    top: 69px;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;

}

.access .btn-settings{
    background: #F7F9FB;
    color: #0275B1;
    height: 32px;
    width: 170px;
    left: 810px;
    top: 69px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.languages{

    border-radius: 4px;
    position: absolute;
    left: 72.22%;
    right: 9.03%;

    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

}

.languages h4{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 11px;
    font-weight: bold;

    color: #181818;
    margin-top:6px;

}

.languages .box {

  }
  
  .box select {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    height: 40px;
    width: 270px;
    left: 1040px;
    top: 69px;
    border-radius: 4px;

    border: none;
    font-family: 'Open Sans', sans-serif;

    font-size: 12px;
    line-height: 0px;
    text-transform: uppercase;

    color: #181818;
    }

    .box select:focus {
        
        outline: none;
        }

/* Profile Section */ 

.profile-section{

    position: absolute;
    width: 850px;
    height: 1826px;
    left: 169px;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.profile-section .profil{
    position: absolute;
    width: 850px;
    height: 360px;
    
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.profil .back{
    position: absolute;
    width: 850px;
    height: 180px;
    left: 0;
    top: 0px;

    background-image: url("/imgs/b.PNG");
    background-size: cover;
}

.back .edit{
    position: absolute;
    width: 805px;
    height: 36px;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items:center;

}

.edit svg{
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.profil .edit-profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 132px;
    height: 36px;
    left: 672px;
    top: 20px;
    margin-left: -30px;
}

.edit-profile .svg-profile{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -50px;
    margin-top: auto;
}

.edit-profile svg{

    margin-top: 5px;
}

.profil .edit-profile .p-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 115px;
    height: 32px;
    border-radius: 4px;
    background-color: #FFFFFF;


    
}

.p-profile p{
    font-family: 'Open Sans' sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;

    color: #181818;
    margin-left: -8px;

}

.p-profile svg{
    margin-top:0;
}

/* info profil */
.profile-section .profil-info{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 25px;
    top: 160px;
    border-radius: 50%;

    background-image: url(/imgs/profil.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #FFFFFF;
}

.info {
    display: flex;
    flex-direction: column;
}

 .info .name{
    position: absolute;
    width: 600px;
    height: 17px;
    left: 220px;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.info .name h4{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 17px;
    
    color: #181818;
    height:17px;
}

.info .name p{
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    color: #181818;
    height:17px;
}

.info .about {
    position: absolute;
    width: 583px;
    height: 42px;
    left: 220px;
    top: 240px;

    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 150%;
color: #181818;
}

.info .button-inf {
    position: absolute;
    width: 583px;
    height: 42px;
    left: 220px;
    top: 302px;
}

.button-inf .btn-contact {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px;
    height: 32px;
    width: 170px;
    border:none;
    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
}

.button-inf .btn-connections{
    background: #FFFFFF;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    width: 170px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;

    color: #0275B1;
    cursor: pointer
}

/* Nav Profil */ 

.profil-nav {
    position: absolute;
    width: 850px;
    height: 60px;
    left: 169px;
    top: 501px;
    
}
.profil-nav .tabs {
    display: flex;
    flex-direction:row;
    justify-self: space-between;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    height: auto;
}

.profil-nav .tabs div {
    width: 240px;
    height:40px;
    border-right: 1px solid #F4F4F4;
    background-color:#FFFFFF;
}

.profil-nav .tabs .actived {
    width: 240px;
    height:50px;
    border-right: 1px solid #F4F4F4;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
border-radius: 4px 4px 0px 0px;
color: #ffffff;
}

.profil-nav .tabs div p{
    font-family:'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;

    margin-top: 20px;
 
}

.profil-nav .tabs .actived p{
    color: #ffffff;
    font-weight: bold;
}

.profil-nav .tabs .act p{
    font-family:'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 2px;

}

/* About Section */ 
.about {
    position: absolute;
    width: 850px;
    height: 170px;
    left: 169px;
    top: 589px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.about div{
    padding: 15px;
    padding-left: 40px;
}

.about h2{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;

    color: #181818;
}

.about p{
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #181818;
    width:90%;
}

.about a{
    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;

    color: #0275B1;
    text-decoration: none;
}

/* Projects */ 

.projects {
    position: absolute;
    width: 850px;
    height: 355px;
    left: 169px;
    top: 779px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.projects div{
    padding: 15px;
    padding-left: 40px;
}

.projects h2{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;

    color: #181818;
}

.projects h2 span{
    font-family: 'Open Sans' , sans-serif;
    font-weight: 300;
    font-family: Gotham Pro;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
    
    color: #747474;
}

.projects a{
    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;

    color: #0275B1;
    text-decoration: none;
}


.projects .details{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.projects .details div{
    padding:0;
    padding-bottom: 0px;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details div img{
    width: 250px;
    height: 160px;
    cursor: pointer;
}

.details div h2{
    font-size: 14px;
    /* identical to box height, or 21px */
    color: #181818;
    cursor: pointer;

}

.details div p{
    font-size: 10px;
    /* identical to box height, or 15px */
    color: #181818;
    margin-top : -5px;
}



/* Skills */ 

.skills{
    position: absolute;
    width: 850px;
    height: 220px;
    left: 169px;
    top: 1154px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.skills div{
    padding: 15px;
    padding-left: 40px;
}

.skills h2{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;

    color: #181818;
}

.skills .endorsements{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills .endorsements div{
    width: 250px;
    height: 80px;   
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.596);
    border-radius: 4px;
    padding:0;
    padding-bottom: 0px;
    margin-left: -40px;
}

.skills .endorsements div h2{
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    padding-left: 15px;
    color: #181818;
}

.skills .endorsements div span{
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    margin-left: 80px;
    color: #181818;

    font-family: 'Open Sans', sans-serif;

    /* identical to box height, or 21px */

    text-align: right;

    color: #0275B1;
}

.skills .endorsements .imgs{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 99px;
    height: 36px; 

    padding:0;
    padding-right: 0px;
    margin-left: 15px;
}

.skills .endorsements .imgs svg{
    margin-right: -10px;
}

.skills a{
    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;

    color: #0275B1;
    text-decoration: none;
}

/* Experience */ 

.experiences{
    position: absolute;
    width: 850px;
    height: 345px;
    left: 169px;
    top: 1154px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.experiences .one{
    padding: 5px;
    padding-left: 40px;

}

.experiences .head{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;
    margin-left: -10px;

    color: #181818;
}

.experiences svg{
    margin-left: -40px;
    margin-top: 15px;
}
.experiences img{
    margin-left: -40px;
    margin-top: 15px;
}

.experiences .one .company{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    padding-left: 20px;
    padding-top: 0px;
    margin-top: -30px;
    width: 90%;
} 
.experiences .one div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: -30px;
    width: 90%;
}

.experiences div .company h2{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;

    color: #181818;
    padding: 0px;
    margin-top: -0px;
}

.experiences div .company p{
    font-size: 10px;
    /* identical to box height, or 15px */
    color: #181818;
    margin-top : -5px;
    font-weight: 600;
}

.experiences div .company span{
    font-size: 10px;
    line-height: 150%;
    /* identical to box height, or 15px */


    color: #181818;
    font-weight: 300;
    margin-left: 11px;
}

.experiences .one div .company .june{
    font-size: 10px;
    /* identical to box height, or 15px */
    color: #181818;
    margin-top : -5px;
    font-weight: 300;
}

.experiences .one div .company .june span{
    font-size: 10px;
    /* identical to box height, or 15px */
    font-size: 10px;
line-height: 150%;
/* identical to box height, or 15px */

font-weight: bold;
color: #0275B1;
}

.experiences .one div .company .desc{
    width: 650px;
height: 30px;

font-family: 'Open Sans' , sans-serif;
font-size: 10px;
line-height: 150%;
text-align: left;
/* or 15px */
color: #181818;
}

.experiences .one div .company-line{
    width: 790px;
    height: 0px;
    margin-top: 0px;
    margin-bottom :10px;
    border-bottom: 1px solid #F4F4F4;

}

/* Education */ 

.education{
    position: absolute;
    width: 850px;
    height: 195px;
    left: 169px;
    top: 1525px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.education .detail-edu{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}

.education .detail-edu .paras{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.education .header{
    width: 246px;
    height: 17px;

    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 17px;

    color: #181818;
    padding-top: 5px;
    padding-left: 30px;
}

.education .detail-edu img{

    padding-top: 0px;
    margin-right: 16px;
    margin-left: 30px;
}

.education .detail-edu .paras{
    padding-left: -80px;
    margin-top: -15px;
    
}

.education .detail-edu .paras h2{
    width: 246px;
    height: 21px;


    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    /* identical to box height, or 21px */
    margin-bottom: 5px;
    color: #181818;
}

.education .detail-edu .paras p{
    width: 501px;
    height: 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 150%;
    /* identical to box height, or 15px */


    color: #181818;
}

.education .detail-edu .paras span{
    width: 501px;
    height: 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 150%;
    /* identical to box height, or 15px */


    color: #686666;
}

/* Right Side */ 

.right-side{
    position: absolute;
    width: 290px;
    height: 1165px;
    left: 1078px;
    top: 120px;
}

.right-side .dashboard{
    width: 290px;
    height: 360px;

    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dashboard h2{
    width: 290px;
    height: 11px;

    font-family: "Open sans", sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color: #181818;
    font-weight: 900;
    padding-left: 30px;
    padding-top: 5px;
}

.dashboard h2 span{
    width: 83px;
    height: 11px;

    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #0275B1;
    padding-left: 50px;
    cursor: pointer;
}

.line-2{
    width: 230px;
    height: 0px;
    border-bottom: 1px solid #F4F4F4;
    margin-left: 30px;
}

.stats{
    padding-left: 30px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stats h1{
    width: 98px;
    height: 50px;

    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    line-height: 50px;
    /* identical to box height */

    text-transform: uppercase;

    color: #0275B1;
    padding-top: -40px;
}

.stats p{
    width: 138px;
    height: 21px;

    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    line-height: 50px;
    /* identical to box height */
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    color: #181818;
    margin-top: -40px;
}


.right-side .visitors{
    position: absolute;
    width: 290px;
    height: 427px;
    top: 380px;

    background: #ffffff;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.visitors h2{
    width: 290px;
    height: 11px;

    font-family: "Open sans", sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color: #181818;
    font-weight: 900;
    padding-left: 30px;
    padding-top: 5px;
}

.visitors h2 span{
    width: 83px;
    height: 11px;

    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #0275B1;
    padding-left: 130px;
    cursor: pointer;
}

.views{
    display: flex;
    flex-direction: row;
    padding-top: 3px;

}

.views svg{
    padding-left: 30px;
    padding-top: 15px;

}

.views .names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 216px;
    height: 52px;
    padding-top: 15px;

}

.names h2{
    width: 200px;
    height: 13px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 13px;

    color: #181818;
    padding-top: 0px;
    margin-top: 5px;
    margin-left: -15px;
    margin-bottom: 10px;
}

.names span{
    width: 150px;
    height: 13px;

    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 13px;

    color: #181818;
    padding-top: 0px;
    padding-left: 15px;
}




.right-side .courses{
    position: absolute;
    width: 290px;
    height: 427px;
    top: 830px;

    background: #ffffff;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}
